@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@import url("./styles/output.css");

.toggleDarkBtn {
  position: relative;
  display: inline-block;
  width: 65px;
  height: 41px;

  border-radius: 50px;
}

.toggleDarkBtn input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slideBtnTg {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, #66FFED 0%, #FFEEB2 100%);
  box-shadow: inset 0px 6px 8px 3px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slideBtnTg:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 5px;
  bottom: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /* background-color: white; */
  background: linear-gradient(180deg, #FFC123 0%, #F8832E 100%);
}

input:checked+.slideBtnTg {
  /* background-color: #1d1e1f; */
  background: linear-gradient(183.67deg, #2B4485 6.6%, #AFCAFF 96.98%);
  box-shadow: inset 0px 6px 8px 3px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

input:focus+.slideBtnTg {
  box-shadow: 0 0 1px #2196f3;
}

input:checked+.slideBtnTg:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background: linear-gradient(180deg, #DDEDFF 0%, #3483F9 100%)
  
}

.slideBtnTg.round {
  border-radius: 34px;
}

.slideBtnTg.round:before {
  border-radius: 50%;
}